.bw-required > .control-label:after{
	content: "*";
}

/* Tabela Simples */
.bw-tabela-simples {
	margin-top: 15px;
}

.bw-tabela-simples table tr th {
	border-bottom-width: 1px;
}

.bw-tabela-simples table tr td {
    border-top: none;
    border-bottom: 1px solid #e7eaec;
    padding: 10px;
    vertical-align: middle;
}

/*
###################
# PÃ�GINAS DO SISTEMA
###################
*/

/* Colunas - Pesquisa de Cervejas */
.table-cervejas-col-foto {
	min-width: 50px;
	width: 50px
}

.table-cervejas-col-sku {
	width: 90px;
	text-align: center;
}

.table-cervejas-col-estilo {
	width: 120px;
}

.table-cervejas-col-origem {
	width: 100px;
}

.table-cervejas-col-valor {
	width: 100px;
	text-align: right;
}

.table-cervejas-col-acoes {
	width: 80px;
}

/* Colunas - Pesquisa de Estilos */

.table-estilos-col-codigo {
	width:80px;
	text-align: left;
}

.table-estilos-col-nome {	
	text-align: center;
}

.table-estilos-col-acoes {
	width: 80px;
}

/* Tabela Cervejas página de Venda */
.bw-tabela-cervejas {
	margin-bottom: 15px;
}

.bw-tabela-cervejas__vazio {
	padding: 15px 15px;
	
	border: 1px dashed #ddd;
	
	text-align: center;
	font-size: 1.2em;
	font-weight: 300;
	color: #555;
}


/*
######################################
# CUSTOMIZAÇÃO DE COMPONENTES
######################################
*/

.checkbox input[type="checkbox"]:checked + input + label::after {
    font-family: 'FontAwesome';
    content: "\f00c"; 
}