<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/LayoutPadrao}">

<head>
	<title>Pesquisa de cervejas</title>	
</head>

<body>
<section layout:fragment="conteudo">
	
<div class="page-header">
	<div class="container-fluid">
		<div class="row">
				<div class="col-sm-10">
					<h1>Pesquisa de cerveja</h1>
				</div>
				<div class="col-sm-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/cervejas/novo}">
							<i class="fa fa-plus"></i> <span class="hidden-xs  hidden-sm">Nova cerveja</span>
						</a>					
					</div>
				</div>			
			</div>		
	</div>
</div>

<div class="container-fluid">
<form th:object="${cervejaFilter}">
	<div class="row">
		<div class="col-sm-6 form-group">
			<label for="sku" class="control-label">Sku</label>
			<input type="text" id="sku" class="form-control" th:field="*{sku}">
		</div>
		<div class="col-sm-6 form-group">
			<label for="nome" class="control-label">Nome</label>
			<input type="text" id="nome" class="form-control" th:field="*{nome}">
		</div>
	
	</div>
	
	<div class="row">
		<div class="col-sm-6 form-group">
			<label for="estilo" class="control-label">Estilo</label>
			<select id="estilo" class="form-control" th:field="*{estilo}">
				<option value="">Todos os etilos</option>
				<option th:each="estilo : ${estilos}" th:value="${estilo.codigo}">[[${estilo.nome}]]</option>
			</select>
		</div>
		<div class="col-sm-6 form-group">
			<label for="sabor" class="control-label">Sabor</label>
			<select id="sabor" class="form-control" th:field="*{sabor}">
				<option value="">Todos os sabores</option>
				<option th:each="sabor : ${sabores}" th:value="${sabor}">[[${sabor.descricao}]]</option>
			</select>
		</div>
	
	</div>
	
	<div class="row">
		<div class="col-sm-6 form-group">
			<label class="control-label">Origem</label>
			<div>
				<th:block th:each="origem : ${origens}">
					<div class="radio radio-inline">
						<input type="radio" th:value="${origem}" th:id="|id_${origem}|" th:field="*{origem}">
						<label th:for="|id_${origem}|">[[${origem.descricao}]]</label>
					</div>
				</th:block>
				<div class="radio radio-inline">
					<input type="radio" value="" th:checked="*{origem} == null" name="origem">
					<label>Todas</label>
				</div>
			</div>
		</div>
		
		<div class="col-sm-6 form-group">
			<label for="valorDe">Valor unitário</label>
			<div class="form-inline">
				<input type="text" class="form-control  aw-form-control-inline-sm  js-decimal" id="valorDe" th:field="*{valorDe}"/>
				<label for="valorAte" class="aw-form-label-between">até</label>
				<input type="text" class="form-control  aw-form-control-inline-sm  js-decimal" id="valorAte" th:field="*{valorAte}"/>
			</div>
		</div>
	
	</div>
	
	<input type="submit" class="btn btn-primary" value="Pesquisar">
</form>

<div class="table-responsive bw-tabela-simples">
<table class="table table-hover">
	<thead>
		<tr>
			<th class="table-cervejas-col-foto"></th>
			<th class="table-cervejas-col-sku">
				<th:block th:replace="fragments/Ordenacao :: order(${pagina}, 'sku', 'SKU')"></th:block>				
			</th>
			<th class="table-cervejas-col-nome">			
				<th:block th:replace="fragments/Ordenacao :: order(${pagina}, 'nome', 'Nome')"></th:block>			
			</th>
			<th class="table-cervejas-col-estilo">Estilo</th>
			<th class="table-cervejas-col-origem">Origem</th>
			<th class="table-cervejas-col-valor">Valor</th>
			<th class="table-cervejas-col-acoes"></th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="cerveja : ${pagina.conteudo}">
			<td class="text-center">
				<img th:src="@{/fotos/thumbnail.{foto}(foto=${cerveja.fotoOrMock})}" class="img-responsive">
			</td>
			<td>[[${cerveja.sku}]]</td>
			<td>[[${cerveja.nome}]]</td>
			<td>[[${cerveja.estilo.nome}]]</td>
			<td>[[${cerveja.origem.descricao}]]</td>
			<td class="text-right">R$ [[${cerveja.valor}]]</td>
			<td class="text-center">
				<a class="btn btn-link btn-xs" title="Editar"><i class="fa fa-pencil"></i></a>
				<a class="btn btn-link btn-xs" title="Excluir"><i class="fa fa-trash"></i></a>
			</td>
		</tr>
		<tr th:if="${pagina.vazia}">
			<td colspan="7">Nehuma cerveja encontrada!</td>
		</tr>
	</tbody>
</table>
</div>

<th:block th:replace="fragments/Paginacao :: paginacao(${pagina})"></th:block>	
</div>
</section>
</body>
</html>